<!--
  @author ITMusketeers
   Created On  7th March 2019
-->

<div style="text-align:center">
  <h1>
    Which of these is a cat?
</h1>

  <img alt="Cat image" src="/assets/images/{{imgOne}}"  (click)="clickOne()">
  
  <img alt="Cat image" src="/assets/images/{{imgTwo}}" (click)="clickTwo()" > 
  
    <table align="center" border="1">
    <tr>
      <td><input type="button" value="Show High Ranked Images" (click)="display()"></td>
      <td><input type="button" value="Reshuffling " (click)="reshuffle()"></td>
    </tr>
  </table>

     <ng-container *ngIf="showSmiley">
          <img alt="Smiley image" src="/assets/smiley/{{smiley}}" ng-enabled="all" > 
    </ng-container> 
    
    <ng-container *ngIf="show">
      <h2>High Ranked Images is </h2>
          <img alt="High Ranked Image" src="/assets/images/{{highRankedImg}}"  > 
    </ng-container> 
<router-outlet></router-outlet>
